body{
    font-family: 'Finlandica', sans-serif;
    font-family: 'Ibarra Real Nova', serif;
    font-family: 'Lobster Two', cursive;
    font-family: 'Old Standard TT', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oxygen', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Work Sans', sans-serif;
}
.carousel-info{
    filter: brightness(65%);
    position: relative;
  z-index: 1;
}
.banner-item{
   position: absolute;
    top: -250px;
    z-index: 5;

}
@media only screen and (max-width:770px) {
  .banner-item{
    top:-140px ;
  }

  .banner-item h2{
    font-size: 14px;
  }
  .banner-item p{
    font-size: 10px;
  }
  .banner-item button{
  width: 100px; height: 30px;font-size: 14px; font-weight: 400;" 
  }
}